// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: 'Space Mono', monospace;
$header-font-family: 'Libre Baskerville', serif;
$link-base-color: #4f1c80;
$link-visited-color: #4f1c80;
